<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	
		<title>你好,vue!</title>
	</head>
	<body>
		<div id="app">
			<input name="nameInput" v-model="nameInput" />
			<input type="button" v-on:click="addName" value="提交" />
		
			<ul>
				<todo-list v-for="name in names" v-bind:content="name" @delete="deleteName" ></todo-list>
			</ul>
		</div>
		
		<script>
			var TodoList = {
				props: ['content'],
				template: '<li @click="nameClick">{{content}}</li>',
				methods: {
					nameClick: function() {
						this.$emit("delete",this.content);
					}
				}
				
			}
			
			
			var app = new Vue({
				el: '#app',
				components: {
					'TodoList': TodoList
				},
				data: {
					names: [],
					nameInput: ''
				},
				methods: {
					addName: function() {
						this.names.push(this.nameInput);
						this.nameInput = '';
					},
					deleteName: function() {
						this.names.pop(this.content);
					}
				}
			});
		</script>
	</body>
</html>